@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('http://fonts.cdnfonts.com/css/billabong');
*{
	font-family: 'Source Sans Pro', sans-serif;

}
/* custom scroll bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

a {
	color: black !important;
}

.brand-logo,
h2 {
	font-family: 'Source Sans Pro', sans-serif;
}

.mycard {
	margin-top: 50px;
}
.auth-card {
	padding: 20px;
	text-align: center;
	max-width: 400px;
	margin: 10px auto;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid rgb(8, 93, 252) !important;
	box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type=password]:focus {
	border-bottom: 1px solid rgb(8, 93, 252) !important;
	box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item {
	width: 30%;
}

.home-card {
	max-width: 600px;
	height: max-content;
	margin: 26px auto;
	padding-top: 15px;
}

/* img {
	text-align: center;
	margin-top: 15px;
	width: 50% !important;
} */

.post-username {
	padding: 50px 50px;
}

.collection-item {
	width: 100%;
}

#toast-container {
	top: 30px !important;
	right: 20px !important;
	left: auto !important;
}

.material-icons:hover {
	cursor: pointer;
}

.post-username {
	display: inline;
}
.post-pic {
	display: inline;
	margin-left: 10px;
	margin-top: 5px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.home-right {
	margin: auto;
	display: inline-block;
}

.know {
	display: inline-block;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 80px;
	font-size: small;
	background-color: black;
	color: #fff;
	height: 60px;
	text-align: center;
	vertical-align: top;
	border-radius: 6px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -40px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

nav .brand-logo {
	padding-left: 250px;
}

nav .nav-wrapper {
	padding-right: 250px;
}

.comment input[type=text],
.comment input[type=text]:focus {
	border: none !important;
}


.card .card-content {  
	padding: 10px;
	border-radius: 0 0 2px 2px;
}
.name{
	margin-top:-20px;
	margin-bottom:-8px;
	background-color:rgb(60, 159, 226);
	padding: 8px;
}
.body{
	background-color:rgb(45, 140, 184);
	margin-top:20px;
}
.title{
	font-size:90%;
	/* text-align: center; */
}
.title1{
	font-size:120%;
	/* text-align: center; */
}
#image{
	width: 95%!important;
}
/* .bio {
	overflow-wrap: anywhere;
} */
#gradient{
	background-image: linear-gradient(to right, rgb(30, 110, 121) , rgb(102, 109, 110));
	margin-top: 100px !important; 
}
#comment{
	margin-top:-100px;
	margin-bottom:-100px;

}

@media only screen and (max-width: 992px) {
	nav .brand-logo.left {
		left: 0.5rem;
	}
}
@media only screen and (max-width: 992px) {
	nav .nav-wrapper {
		padding-right: 20px;
	}
}

@media only screen and (max-width: 420px) {
	.homebtn {
		display: none;
	}
}
